.ref-wrapper{
	clear: both;
	margin: 10px 0 15px 0;
	overflow: hidden;
}
.ref-wrapper li{
	clear: both;
	padding: 0;
	margin: 0;
}
.ref-wrapper .box{
	margin-left: 0;
}
.book_pagination{
	padding: 0;
	margin: 0;
	float: right;
	width: 50%;
	text-align: right;
}
.book_pagination li{
	display: inline;
	padding: 0 5px 0 0;
	margin: 0;
}
.ref_book_item{
	width: 46%;
	height: 200px;
	overflow: hidden;
	margin: 0 1% 10px 0;
	padding: 1%;
	float: left;
	border: 1px solid #CCC;
	
	-webkit-box-shadow: 1px 1px 3px #CCC;
	-moz-box-shadow: 1px 1px 3px #CCC;
	box-shadow: 1px 1px 3px #CCC;
}
.ref_bookcover{
	float: left;
	margin: 0 10px 0 0;
}
.ref_bookcover_noimg{
	margin: 0 10px 0 0;
	width: 128px;
	height: 190px;
	float: left;
	background: url(img/nocover.gif) no-repeat top center;
}
.book_search_meta{
	clear: both;
	padding: 10px 0;
	overflow: hidden;
}
.ref_preview_book, .ref_amazon_link{
}
#ref-book-dialog{
	font-size: .8em;
}
#ref-book li{
	clear: both;
}
#ref-book-dialog-search{
	width: 98%;
	height: 84%;
	overflow: hidden;
	overflow-y: scroll;
	margin: 10px auto 0;
	padding: 5px 0 10px 10px;
	border: 1px solid #CCC;
}
#ref_book_loading{
	background: url(img/loading.gif) no-repeat center center;
	width: 100%;
	height: 100%;
}
.ref_a_book{
	border: 1px solid #E1E1E1;
	width: 450px;
	padding: 5px;
	margin: 0 0 10px 0;
	overflow: hidden;
	background: #FFF;
}
.ref_a_book_image{
	width: 128px;
	height: 190px;
	overflow: hidden;
	float: left;
}
.ref_a_book_detail{
	width: 320px;
	float: right;
}
.ref_a_book_detail p{
	clear: both;
}
.ref_a_book_detail label{
	width: 70px;
	float: left;
	display: block;
	text-align: right;
	padding: 3px 1px 0 0;
}
.ref_a_book_detail input, .ref_a_book_detail textarea{
	width: 230px;
	float: right;
}
.ref-remove-book{
	float: right;
}
.ref-gbook{
	float: right;
	padding: 0 10px 0 0;
}
.ref_book_image{
	float: left;
	margin: 0;
	padding: 5px;
	background: #FFF;
	
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.ref_book_grid{
	clear: both;
	padding: 0;
	margin: 0;
}
.ref_book_grid li{
	list-style: none;
	padding: 5px;
	margin: 0 0 10px 0;
	overflow: hidden;
	
	background: #EEE;
	background: rgba(230,230,230,.3);
	
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ref_book_grid .ref_preview_book{
	float: right;
}
.ref_book_detail{
	float: left;
	width: 60%;
	padding: 0 0 0 5px;
}